<nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top">
    <div class="container">
        <a class="nav-link" id="home" href="/gems/all">Home</a>
        <div>
            <img class="img-responsive" id="logo" src="../../public/assets/images/gem.png" alt="*" height="30" width="30">
            
        </div>
        
        
        {{#if user}}
        <span>Welcome, {{user.username}}!</span>{{/if}}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    {{!-- <a class="nav-link" href="/gems/all">Home 
                        <span class="sr-only">(current)</span> --}}
                        {{!-- <span class="sr-only">(gems)</span>
                    </a> --}}
                </li>
                {{#if user }}
            
                <li class="nav-item">
                    <a id="nav-upload" class="nav-link" href="/newgem">Add New Gem</a>
                </li>
                <li class="nav-item">
                    <a id="nav-owner" class="nav-link" href="/gems/owner">My Gems</a>
                </li>
                <li class="nav-item">
                    <a id="nav-logout" class="nav-link" href="/logout">Logout</a>
                </li>
                {{else}}
                <li class="nav-item">
                    <a id="nav-login" class="nav-link" href="/login">Sign In</a>
                </li>
                <li class="nav-item">
                    <a id="nav-register" class="nav-link" href="/signup">Sign Up</a>
                </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>

{{!-- <p class="top-menu">
    <a href="/gems/all">All</a> |
    <a href="/gems/Art">Art</a> |
    <a href="/gems/Outdoors">Outdoors</a> |
    <a href="/gems/Events">Events</a> |
    <a href="/gems/Others">Others</a> |
    </p> --}}

    {{!--
    <a href="/serch-by-author">By Author</a> --}}
    