
<div class="container box" id="sign-in-box">   
  <div id="sign-in-title">
    <h3 id="sign-in-header">Sign In</h3>
  </div>
  <form id="signup" name="signup" method="post" action="/login">
    <input type="username"   name="username"class="form-control form-control-lg" id="login-name" placeholder="Username" required="required">
    <br>
    <input type="password"  name="password" class="form-control form-control-lg" id="login-pw" placeholder="Password" required="required">
    <br>
    <div id="message">
      <p class="message">{{title}}</p>
    </div>
    <div id="login-btn-parent">
      <button id="login-btn" type="submit" class="btn btn-outline-primary" value="Sign In">Sign In</button> 
    </div>
    
  </form>
</div>



{{!-- //TODO//
line 2 class="message" is the error for cannot login --}}