
<p class="message">{{title}}</p><div class="container box" id="sign-in-box">
    <div id="sign-in-title">
      
        <h3 id="sign-in-header">Sign In</h3>
    </div>
    <form id="signup" name="signup" method="post" action="/login">
    {{!-- <div class="form-group row"> --}}
    {{!-- <label for="inputUsername" class="col-sm-2 col-form-label logins">Username</label> --}}
    {{!-- <div class="col-sm-10"> --}}
      <input type="username"   name="username"class="form-control form-control-lg" id="login-name" placeholder="Username">
      <br>
    {{!-- </div> --}}
  {{!-- </div> --}}
  {{!-- <div class="form-group row"> --}}
    {{!-- <label for="inputPassword" class="col-sm-2 col-form-label logins">Password</label> --}}
    {{!-- <div class="col-sm-10"> --}}
      <input type="password"  name="password" class="form-control form-control-lg" id="login-pw" placeholder="Password">
      <br>
    {{!-- </div> --}}
    
  {{!-- </div> --}}
  <div id="login-btn-parent">
  <button id="login-btn" type="submit" class="btn btn-outline-primary" value="Sign In">Sign In</button> 
  </div>
  </form>



    {{!-- <form id="signup" name="signup" method="post" action="/login">
    <label class="logins"for="username">User Name</label>
    <input id="login-name" name="username" class="form-control form-control-lg" type="text" placeholder="">
        
        
        <br>
        <label class="logins"for="password">Password</label>
        <input id="login-pw" name="password" class="form-control form-control-lg" type="password" placeholder="">
        
        <br>
        
        {{!-- <button id="login-btn" type="button" class="btn btn-outline-primary">Sign In</button> --}} 
        {{!-- <input id="login-btn" class="btn" type="submit" value="Sign In" /> --}}
    </form>
</div>