<div class="container box" id="new-in-box">
    <p id="sign-in-header">New Gem</p>
    <form id="new_post_form" name="newgem" method="post" action="/newgem">
        <div class="form-group">
            <input name="title" id="title_input" class="form-control form-control-lg" type="text" placeholder="Title" />
            <br>
        </div>
        <div class="form-group">
            <select class="form-control form-control-lg" name="category" id="exampleFormControlSelect1">
                <option value="" disabled selected> Select Category</option>
                <option>Art</option>
                <option>Outdoors</option>
                <option>Events</option>
                <option>Other</option>
            </select>
            <br>
        </div>
        <div class="form-group">
            <input name="address" id="address" class="form-control form-control-lg" type="text" placeholder="Location" />
            <br>
        </div>
        <div class="form-group">
            <textarea name="description" id="content_input" maxlength="9000" class="form-control form-control-lg" rows="5" cols="30"
                placeholder="Describe your gem!"></textarea>
            <br>
        </div>
        <div class="form-group">
            <input type="url" name="image" class="form-control-file form-control-lg" id="post_img_url" placeholder="Image URL">
            <br>
        </div>
        <button class="btn btn-outline-primary" id="new_post_submit">Add Gem</button>
        <br>
        <br>
    </form>
</div>