<div class="container ">

    <div class="row justify-content-center align-items-center text-center">
         <div class="card" style="width: 55rem;">
            <img class="card-img-top" src="{{gem.image}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{gem.title}}</h5>
                <p class="card-text">{{gem.description}}</p>
                <p class="card-text"><spam>Address</spam>: {{gem.address}}</p>
            </div>
         </div>

    </div>
</div>

</div>
</div>