<p class="message">{{title}}</p>
<div class="box container" id ="sign-up-box">
    <h3 id="sign-in-header">Sign Up</h3>
    <form id="signup" name="signup" method="post" action="/signup">

        <label for="email" class="col-sm-6 col-form-label logins">Email Address</label>
        <input id="add-email" class="text" name="email" type="email" />
        <br>
        <label for="firstname"class="col-sm-6 col-form-label logins">Firstname</label>
        <input id="add-first" name="firstname" type="text" />
        <br>
        <label for="lastname" class="col-sm-6 col-form-label logins">Lastname</label>
        <input id="add-last" name="lastname" type="text" />
        <br>
        <label for="username" class="col-sm-6 col-form-label logins">Username</label>
        <input id="add-username" name="username" type="text" />
        <br>
        <label for="password" class="col-sm-6 col-form-label logins">Password</label>
        <input id="add-password" name="password" type="password" />
        <br>
        <div id="login-btn-parent">
        <input id="login-btn" class="btn btn-outline-primary" type="submit" value="Sign Up" />
        </div>
    </form>
</div>