.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 20px;
    background-color: #f5f5f5;
    font-family: Amatic SC;
    color: #09cdef;
}

.jumbotron {
    font-family: Amatic SC;
    margin: 20px 0;
    color: #09cdef;
    text-align: center;
}

.jumboText {
    font-size: 30px;
}

.eachCard {
    margin: 40px;
    border: 5px;
    border-style: double;
    border-color: #09cdef;
    border-radius: 10px;
}

.img_post {
    width: 7rem
}

#logo {
    position: absolute;
    left: 50%;
    margin-left: -50px !important;
    margin-top: -26px;
    /* 50% of your logo width */
    display: block;
    height: 55px;
    width: 65px; 
}

#title {
    position: absolute;
    left: 50%;
    margin-left: -50px !important;
    display: block;
    font-family: Amatic SC;
    font-weight: bold;
    font-size: 50px;
    color: #09cdef;
}

.navbar-brand {
    font-family: Amatic SC;
    font-weight: bold;
    font-size: 25px;
    color: #09cdef;
    letter-spacing: 2px;
}

#nav-login:link,
#nav-register:link {
    font-family: Amatic SC;
    font-size: 20px;
    color: #09cdef;
    letter-spacing: 2px;
}

#nav-login:visited,
#nav-register:visited{
    font-family: Amatic SC;
    font-size: 20px;
    color: #09cdef;
    letter-spacing: 2px;
}

#nav-login:hover,
#nav-register:hover {
    font-family: Amatic SC;
    font-size: 20px;
    color: #09cdef;
    letter-spacing: 2.5px;
}


/* a.two:link {color:#ff0000;}
a.two:visited {color:#0000ff;}
a.two:hover {font-size:150%;} */

#home:link {
    font-family: Amatic SC;
    font-size: 25px;
    font-weight: bold;
    color: #09cdef;
    letter-spacing: 2px;
}

#home:visited {
    font-family: Amatic SC;
    font-size: 25px;
    font-weight: bold;
    color: #09cdef;
    letter-spacing: 2px;
}

#home:hover {
    font-family: Amatic SC;
    font-size: 25px;
    font-weight: bold;
    color: #09cdef;
    letter-spacing: 2.5px;
}

#sign-in-box {
    border: 5px;
    border-style: double;
    border-color: #09cdef;
    border-radius: 10px;
    height: 300px;
    width: 600px;
    margin-top: 150px;
}

#sign-up-box {
    border: 5px;
    border-style: double;
    border-color: #09cdef;
    border-radius: 10px;
    height: 33rem;
    width: 35rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

#new-in-box {
    border: 5px;
    border-style: double;
    border-color: #09cdef;
    border-radius: 10px;
    /* height: 45rem; 
    width: 35rem;  */
    margin-top: 10rem;
}

#sign-in-header {
    font-family: Amatic SC;
    font-size: 50px;
    font-weight: bold;
    color: #09cdef;
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 10px;
}

.logins {
    font-family: Quicksand;
    font-size: 1em;
    color: #09cdef;
}

/* #login-btn {
    font-family: Amatic SC;
    font-size: 20px;
    color: white;
} */

/* .btn-outline-primary {
    background-color: transparent;
    background-image: none;
    border-color: #09cdef;
}

.btn-outline-primary:hover {
    background-color: lightblue;
    color: white;
    border: #09cdef; 
} */

#login-btn-parent {
    text-align: center;
    margin: 0 auto;
}

.btn-outline-primary{
    background:#09cdef;
    color:#fff;
    border:none;
    position:relative;
    height:50px;
    font-size:1.6em;
    font-family: Amatic SC;
    color: white;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
  }
  .btn-outline-primary:hover{
    background:#fff;
    color:#09cdef;
  }
  .btn-outline-primary:before,.btn-outline-primary:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #09cdef;
    transition:400ms ease all;
  }
  .btn-outline-primary:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .btn-outline-primary:hover:before,.btn-outline-primary:hover:after{
    width:100%;
    transition:800ms ease all;
  }

  

